html, body {
  height: 100%;
}
body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}
nav, .navbar {
    border-radius: 0;
}
.no-hover:hover, .no-hover:focus {
    background-color: transparent !important;
    color: white !important;
}
.center {
    text-align: center;
}
.monospace {
    font-family: monospace;
}

.material-box {
    color: #505052;
    background-color: #fff;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}
.clickable-box:hover {
    cursor: pointer;
    -webkit-box-shadow:0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
    box-shadow:0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
    -webkit-transform:translateY(-5px)!important;
    transform:translateY(-5px)!important;

    -webkit-transition: -webkit-transform 250ms, -webkit-box-shadow 250ms;
    transition: transform 250ms, box-shadow 250ms;
}

.row.grid-wrapper {
    margin-left: -20px;
    margin-right: -20px;
}
div.griditem {
    padding-left: 5px;
    padding-right: 5px;
}

.grid-image-wrapper {
    margin-top: -10px;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    padding-bottom: 42.8571429%;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.grid-image-wrapper > img {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
}

.grid-text-wrapper {
    width: 100%;
    height: 160px;
    overflow: hidden;
}
.grid-text-wrapper:before {
    content:'';
    width: 100%;
    height: 30%;    
    position: absolute;
    border-radius: 5px;
    left: 0;
    top: 70%;
    background: -webkit-linear-gradient(transparent 50px, white);
    background: -o-linear-gradient(transparent 50px, white);
    background: -moz-linear-gradient(transparent 50px, white);
    background: linear-gradient(transparent 50px, white);
}

.grid-item-title {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #707072;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
}

.profile-thumbnail {
    display: inline;
    position: absolute;
    margin-right: 15px;
    margin-top: -20px;
    margin-bottom: -20px;
    max-height: 64px;
    width: auto;
    padding: 0;
    object-fit: contain;
}

.bar-lone-icon {
    width: 22px;
    height: 22px;
    margin-top: -8px;
    margin-bottom: -2px;
    margin-left: -5px;
    margin-right: -5px;
}

.bar-lone-icon-xs {
    width: 22px;
    height: 22px;
    margin-top: -6px;
    margin-bottom: -2px;
    margin-left: -5px;
    margin-right: 6px;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

code {
    color: #2040a0;
    background-color: #f4f4ff;
}

.material-box h2,
.material-box h3,
.material-box h4,
.material-box h5,
.material-box h6 {
    color: #707072;
}
.material-box h1 {
    color: #606062;
    margin-top: 5px;
    font-size: 32px;
}
.material-box h2 {
    font-size: 28px;
}
.material-box h3 {
    margin-top: 16px;
    font-size: 24px;
}
.material-box h4 {
    font-size: 20px;
}
.material-box h5 {
    font-size: 18px;
}
.material-box h6 {
    font-size: 16px;
}

.material-box p {
    text-align: justify;
    text-justify: inter-word;
}

.side-column {
    padding-left: 15px;
    padding-right: 15px;
}
.side-column h3 {
    margin-top: 0;
}

.nopadding-lr {
    padding-left: 0;
    padding-right: 0;
}

.comment-pseudo {
    font-size: 18px;
    font-weight: bold;
    margin-left: -10px;
}

.sidebar-month {
    color: #707072;
    font-size: 20px;
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}
.sidebar-month:hover,
.sidebar-month:focus {
    text-decoration: none !important;
    background-color: #ededef;
    color: #606062;
}