{% extends "base.html" %}
{% load misc_tags %}
{% load static %}

{% load i18n %}

{% block title %}Louis Sugy - CV{% endblock %}

{% block meta %}
    <meta property="og:title" content="Louis Sugy - CV">
    <meta name="description" content="{% trans "Louis Sugy's online CV: experience, education, skills, hobbies" %}">
    <meta property="og:description" content="{% trans "Louis Sugy's online CV: experience, education, skills, hobbies" %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 nopadding-lr">
                <div id="mainbox" class="col-xs-12 material-box">
                    {{ cvmd|parse_post_markdown }}
                </div>
            </div>
            <div>
                <div class="hidden-xs hidden-sm col-md-4">
                    <div class="material-box side-column">
                        <img src="/media/me.png" class="img-responsive img-center img-rounded">
                        <br>
                        <p><b>Contact:</b> <i>contact</i> arobase <i>nyri0.fr</i></p>
                        <p><a href="https://www.linkedin.com/in/louis-sugy/">LinkedIn</a> - <a href="https://github.com/Nyrio/">GitHub</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
