{% extends "base.html" %}
{% load misc_tags %}
{% load static %}
{% load bootstrap %}

{% load i18n %}

{% block title %}Nyri0 - Blog{% endblock %}

{% block meta %}
    <meta property="og:title" content="Nyri0 - Blog">
    <meta name="description" content="{% trans "Nyri0's devblog: updates about my videogames and other projects, opinions, tutorials, articles." %}">
    <meta property="og:description" content="{% trans "Nyri0's devblog: updates about my videogames and other projects, opinions, tutorials, articles." %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock %}

{% block addnavright %}
    <li class="hidden-xs"><a data-toggle="collapse" href="#searchbox"><span class="glyphicon glyphicon-search"></span></a></li>
    <li class="visible-xs"><a data-toggle="collapse" href="#searchbox"><span class="glyphicon glyphicon-search" style="margin-right: 0.5em;"></span> {% trans "Search" %} </a></li>
    <li class="hidden-xs"><a href="{% url 'feed' %}"><img class="bar-lone-icon" src="{% static 'icons/rss.svg' %}"></a></li>
    <li class="visible-xs"><a href="{% url 'feed' %}"><img class="bar-lone-icon-xs" src="{% static 'icons/rss.svg' %}"> {% trans "RSS feed" %}</a></li>
{% endblock %}

{% block body %}
    {% get_current_language as language %}
    <div id="searchbox" class="collapse">
        <div class="container material-box">
            <form method="GET">
                {{ form|bootstrap }}
                <a class="btn btn-default" data-toggle="collapse" href="#searchbox">{% trans "Close" %}</a>
                <button class="btn btn-primary">{% trans "Search" %}</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="grid-wrapper row">
            {% for blogpost in object_list %}
                <a href="{% url 'blogpost' blogpost.pk %}">
                    <div class="griditem col-xs-12 col-sm-6 col-md-4">
                        <div class="material-box clickable-box col-xs-12">
                            <div class="grid-image-wrapper">
                                <img src="{{ blogpost.cover_picture.gridview.url }}" alt=" {% trans 'Blog post cover' %}">
                            </div>
                            <div class="grid-text-wrapper">
                                <p class="grid-item-title">{% if language == 'fr' %}{{ blogpost.title_fr }}{% else %}{{ blogpost.title_en }}{% endif %}</p>
                                <p><i>{{ blogpost.date|date:'Y-m-d H:i' }}</i>
                                <span style="margin-right: 0.5em;"></span>- 
                                <span class="glyphicon {{ blogpost.category.glyphicon_name }}" style="margin-left: 0.5em; margin-right: 0.2em;"></span> {% if language == 'fr' %}{{ blogpost.category.name_fr }}{% else %}{{ blogpost.category.name_en }}{% endif %}</p>
                                {% if language == 'fr' %}
                                    {{ blogpost.description_fr|safe|parse_comment_markdown }}
                                {% else %}
                                    {{ blogpost.description_en|safe|parse_comment_markdown }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
        <div class="container">
            <div class="centered text-center">
            <ul class="pagination">
              {% if page_obj.has_previous %}
                  <li><a href="?{% url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a></li>
              {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in custom_range %}
                  {% if page_obj.number == i %}
                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                      <li><a href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                  {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                  <li><a href="?{% url_replace request 'page' page_obj.next_page_number %}">&raquo;</a></li>
              {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
          </ul>
        </div>
    {% endif %}
{% endblock %}
