{% extends "base.html" %}
{% load static %}

{% block title %}Nyri0 - Blog{% endblock %}

{% block meta %}
    <meta property="og:title" content="Nyri0 - Blog">
    <meta property="og:description" content="Nyri0's devblog: updates and opinions">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://nyri0.fr/about">
{% endblock %}

{% block body %}
    <div id="mainbox" class="container material-box">
        <h1>Welcome to nyri0.fr!</h1>
        <p>WIP: a devblog will be added here</p>
    </div>
{% endblock %}
