{% extends "base.html" %}
{% load misc_tags %}
{% load static %}
{% load bootstrap %}

{% load i18n %}

{% block addjs %}
    <script src="{% static "js/jdenticon.min.js" %}"></script>
{% endblock %}

{% with blogpost=object %}

    {% block title %}
        {% get_current_language as language %}
        {% if language == 'fr' %}
            {{ blogpost.title_fr }}
        {% else %}
            {{ blogpost.title_en }}
        {% endif %}
    {% endblock %}

    {% block meta %}
        {% get_current_language as language %}
        <meta name="twitter:card" content="summary">        
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">

        <meta property="og:title" content="{% if language == 'fr' %}{{ blogpost.title_fr }}{% else %}{{ blogpost.title_en }}{% endif %}">
        <meta name="twitter:title" content="{% if language == 'fr' %}{{ blogpost.title_fr }}{% else %}{{ blogpost.title_en }}{% endif %}">

        <meta name="description" content="{% if language == 'fr' %}{{ blogpost.description_fr|truncatechars:155 }}{% else %}{{ blogpost.description_en|truncatechars:155 }}{% endif %}">
        <meta property="og:description" content="{% if language == 'fr' %}{{ blogpost.description_fr }}{% else %}{{ blogpost.description_en }}{% endif %}">
        <meta name="twitter:description" content="{% if language == 'fr' %}{{ blogpost.description_fr|truncatechars:200 }}{% else %}{{ blogpost.description_en|truncatechars:200 }}{% endif %}">
        
        <meta property="og:image" content="{% absolute_uri request blogpost.cover_picture.ogtag.url %}">
        <meta property="og:image:secure_url" content="{% absolute_uri request blogpost.cover_picture.ogtag.url %}">
        <meta name="twitter:image" content="{% absolute_uri request blogpost.cover_picture.ogtag.url %}">
    {% endblock %}

    
    {% block addnavright %}
        {% if request.user.is_confirmed %}
            <li class="hidden-xs"><a href="#commentForm"><span class="glyphicon glyphicon-menu-down"></span></a></li>
            <li class="visible-xs"><a href="#commentForm"><span class="glyphicon glyphicon-menu-down" style="margin-right: 0.5em;"></span> {% trans "To bottom" %} </a></li>
        {% endif %}
    {% endblock %}

    {% block body %}
        {% get_current_language as language %}
        <div id="mainbox" class="container material-box">
            <div class="grid-image-wrapper" style="margin-bottom: 15px;">
                <img src="{{ blogpost.cover_picture.article.url }}" alt="{% trans 'Blog post cover' %}" />
            </div>
            {% if language == 'fr' %}
                {{ blogpost.text_fr|safe|parse_post_markdown }}
            {% else %}
                {{ blogpost.text_en|safe|parse_post_markdown }}
            {% endif %}
        </div>
        <div id="comments">
            {% for comment in comments %}
                <div id="com{{ comment.pk }}" class="container material-box">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            {% if comment.user.avatar %}
                                <img class="img img-responsive img-rounded" src="{{ comment.user.avatar.comment.url }}">
                            {% else %}
                                <svg class="img img-responsive img-rounded" width="256" height="256" data-jdenticon-value="{{ comment.user.username }}"></svg>
                            {% endif %}
                        </div>
                        <div class="col-xs-9 col-sm-10">
                            <strong class="comment-pseudo">
                                <a href="#com{{ comment.pk }}"><span class="glyphicon glyphicon-link" style="margin-right: 0.25em;"></span></a>
                                {{ comment.user.username }}
                            </strong>
                            <span style="margin-right: 0.5em;"></span><i>({{ comment.date|date:'Y-m-d H:i' }})</i>
                            {{ comment.text|safe|parse_comment_markdown }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if request.user.is_confirmed %}
            <div id="commentForm" class="container material-box">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button class="btn btn-primary">{% trans "Send" %}</button>
                </form>
            </div>
        {% endif %}
    {% endblock %}

{% endwith %}