{% extends "base.html" %}
{% load bootstrap %}

{% load i18n %}

{% block title %}{% trans "Login" %} | nyri0.fr{% endblock %}

{% block body %}
    <div id="mainbox" class="container material-box">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ form|bootstrap }}
            <button class="btn btn-primary">{% trans "Login" %}</button>
            <a href="{% url 'password-reset' %}" class="btn btn-default">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
{% endblock %}