{% extends "base.html" %}
{% load bootstrap %}

{% load i18n %}

{% block title %}{% trans "Sign Up" %} | nyri0.fr{% endblock %}

{% block addmeta %}<meta name="robots" content="none" />{% endblock %}

{% block body %}
    <div id="mainbox" class="container material-box">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|bootstrap }}

            <p>{% trans "An email will be sent to your email address to confirm it. Verifying your email address allows you to post comments." %}</p>
            <button class="btn btn-primary">{% trans "Sign Up" %}</button>
        </form>
    </div>
{% endblock %}